input {
    padding: 5px;
    margin-right: 10px;
    font-size: 1.8rem;
    border-radius: 5px;
}

button {
    padding: 5px;
    font-size: 1.8rem;
    color: white;
    background-color: violet;
    border-radius: 5px;
}